.hero {
  width: 100%;
  padding: spacing(4, 3, 5, 3);
  background-color: $color_background_alternative;
  text-align: center;

  .button--action {
    width: 230px;
    margin: spacing(2, auto, 0, auto);
  }
}
