.restaurants-list {
  padding: spacing(4, 2);
  background-color: $color_background_alternative;

  .grid {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
  }

  h2 {
    align-self: flex-start;
    margin-bottom: spacing(3);
  }
}
