$font-size: (
        S: (
                1rem,
        ),
        M: (
                1.5rem,
        ),
        L: (
                2rem,
        ),
        XL: (
                3rem,
        )
);

@function sizing($size) {
  @return map-get($font-size, $size);
}
