@mixin list-style-image($image) {
  list-style-image: url("#{$pathToSvg}/#{$image}.svg");
  margin-left: 18px;
}

.nav {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      &:not(:last-child) {
        margin-bottom: spacing(.5);
      }

      &:nth-child(1) {
        @include list-style-image("utensils");
      }

      &:nth-child(2) {
        @include list-style-image("hands-helping");
      }
    }
  }

  .nav-link {
    text-decoration: none;

    &--on-dark-background {
      color: $color_text_onDarkBackground;
    }
  }
}
