.screen--menu {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top $header-height left 0;
  background-size: contain;

  @media (break-up(sm)) {
    background-size: cover;
    background-position: center -#{$header-height};
  }

  &--la-palette-du-gout {
    background-image: url("#{$pathToImg}/la-palette-du-gout.jpg");
  }

  &--le-delice-des-sens {
    background-image: url("#{$pathToImg}/le-delice-des-sens.jpg");
  }

  &--la-note-enchantee {
    background-image: url("#{$pathToImg}/la-note-enchantee.jpg");
  }

  &--a-la-francaise {
    background-image: url("#{$pathToImg}/a-la-francaise.jpg");
  }

  .header {
    position: sticky;
    top: 0;
    background-color: $color_background_paper;
  }
}