.header {
  position: relative;
  z-index: 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  @include elevation(false);
  width: 100%;
  height: auto;
  padding: spacing(2, 3, 1, 3);
  align-items: center;
  text-align: center;

  &_brand-logo {
    grid-column: 2;
  }
}
