.card {
  @include elevation();
  position: relative;
  width: 300px;
  overflow: hidden;
  border-radius: 15px;
  background-color: $color_background_paper;

  @media (break-up(lg)) {
    width: 500px;
  }

  @media (break-up(xl)) {
    width: 600px;
  }

  &:hover {
    @media (prefers-reduced-motion: no-preference) {
      img {
        transform: scale(1.03);
      }
    }
  }

  &--new {
    @include createBadge('Nouveau');
  }

  a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .card_image {
    height: 170px;
    overflow: hidden;

    @media (break-up(lg)) {
      height: 300px;
    }

    @media (break-up(lg)) {
      height: 350px;
    }

    img {
      width: 100%;
      height: 170px;
      object-fit: cover;
      object-position: bottom center;
      transition: easeOut('complex');

      @media (break-up(lg)) {
        height: 300px;
      }

      @media (break-up(lg)) {
        height: 350px;
      }
    }
  }

  .card_content {
    padding: spacing(2);

    .heading--3 {
      margin-bottom: spacing(.5);
    }
  }

  .fav-button {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: spacing(2);
  }
}
