$dish-card-height: 64px;
$dish-added-block-width: 60px;

.dish {
  width: 100%;
  height: $dish-card-height;

  @media (prefers-reduced-motion: no-preference) {
    transform: translateY(50px);
    opacity: 0;

    @for $i from 1 through 5 {
      &:nth-child(#{$i}) {
        transform: translateY(50px);
        animation: displayDishes($i);
      }
    }
  }

  @media (prefers-reduced-motion: no-preference) {
    transform: translateY(50px);
    opacity: 0;

    @for $i from 1 through 4 {
      &:nth-child(#{$i}) {
        transform: translateY(50px);
        animation: displayDishes($i);
      }
    }
  }

  &:hover {
    cursor: pointer
  }

  &:active {
    .dish_content-wrapper {
      right: 0;

      &_added {
        &_check {
          transform: rotate(0);
        }
      }
    }
  }

  &_content-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: -#{$dish-added-block-width};
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    transition: easeInOut(complex);

    &_description {
      flex-grow: 2;
      margin: spacing(1.5, 1);
      white-space: nowrap;
      overflow: hidden;

      &_name, &_aside {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    &_price {
      align-self: flex-end;
      margin: spacing(0, 2, 1.5, 0);
      font-weight: bold;
    }

    &_added {
      display: flex;
      width: $dish-added-block-width;
      height: $dish-card-height;
      background-color: $color_background_contrasted;

      &_check {
        width: 20px;
        margin: auto;
        fill: $color_icon_onContrasted;
        transform: rotate(-270deg);
        transition: easeInOut(short) 150ms;
      }
    }
  }
}
